.start {
  position: relative;

  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__wrapper {
    max-width: 540px;
    padding-top: 228px;
  }

  &__title {
    color: #fff;
    font-size: 50px;
    line-height: 60.88px;
    letter-spacing: -0.63px;
    font-weight: 500;
    position: relative;
    z-index: 3;
  }

  &__subtitle {
    color: #fff;
    margin-top: 19px;
    font-size: 18px;
    line-height: 30px;
  }

  &__phone {
    width: 486px;
    height: 672px;

    @media screen and (max-width: 1023px) {
      width: 300px;
      height: 414px;
    }
  }

  &__button {
    margin-top: 31px;
    padding: 12px 43px 12px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    display: inline-block;
    color: #2a206a;
  }

  &__hint {
    width: 100%;
    font-size: 14px;
    line-height: 1.64285714;
    letter-spacing: 0.3px;
    color: hsla(0, 0%, 100%, 0.7);
    padding: 30px 0;
    border-top: 1px solid hsla(0, 0%, 100%, 0.1);

    @media screen and (max-width: 1023px) {
      margin-top: 100px;
    }
  }
}
