.button {
  &_colored {
    background-color: #1ad48e;
    transition: all 0.3s;
    border-radius: 12px;
    cursor: pointer;
    outline: none;
    border: none;
  }

  &_small {
    padding: 10px 14px;
  }
}
