* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Graphik, sans-serif;
}

.wrapper {
  padding-top: 82px;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  @media screen and (max-width: 1230px) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.text {
  &_small {
    font-size: 15px;
    line-height: 14px;
    letter-spacing: 0.1px;
  }
}
